.order-error {
    border: solid 1px red !important;
}


#enrollshowPrescription form label.star:after {
    content: "*";
    color: red;
}
#rxForm .dropdown-menu.show,#drug-Add-Modal .dropdown-menu.show{
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}
#updatePatientForm label.error,#patient_detail label.error,#product_form2 label.error{
    color: #8a1f11;
    display: inline-block;
    font-weight: 400;
    margin-left: 2px;
    font-size: 12px;
}
.zero_slashes{
    font-family: 'roboto mono', sans-serif !important;
}
.generic-for-report{
    color: #9d9292c9 !important;
    font-size: 12px !important;
}