

.site-bg-gray-f2 { background-color: #f2f2f2; }

.green-color-force_childs { color: #9dcd00 !important; }
.green-color-force_childs * { color: #9dcd00 !important; }

.bg-transparent { background-color: transparent !important; }
.bg-ededed { background-color: #ededed !important; }
.bg-d9d9d9 { background-color: #d9d9d9 !important; }
.bg-light-green { background-color: #b7cf65; }

.bg-fff { background-color: #fff !important; }
.tt_cc_ { text-transform: capitalize; }
.tt_uc_ { text-transform: uppercase; }
.tt_lc_ { text-transform: lowercase; }
.td_u_ { text-decoration: underline; }

.col-1_2, .col-2_2 { min-width: 50%; }
.col-1_3, .col-2_3, .col-3_3 { min-width: 33%; }

button { cursor: pointer !important; outline: 0px !important;}
button:focus { outline: 0px !important; }
a { cursor: pointer !important; }
.circle-bgred-colorwht { display: inline-block; padding: 3px 6px; border-radius: 50%; border: solid 1px #ec1717; font-size: 13px; color: #fff; background-color: #ec1717; line-height: 1em; font-weight: 400; }
.v-spacer-47 { min-height: 30px; line-height: 47px; min-width: 100%; }
.v-spacer-27 { min-height: 20px; line-height: 27px; min-width: 100%; }
.cur-pointer { cursor: pointer !important; }
@media only screen and (max-width: 1540px) {
 .container { min-width: 100% !important; }
}
.modal-backdrop.show { opacity: 0.5 !important; }
.modal-open .modal.show { display: flex !important; align-items: center; }
.btn-red-bg-clr-wht { cursor: pointer; padding: 7px 14px 6px; text-transform: uppercase; border: solid 1px transparent; outline: 0px !important; margin-right: 12px; min-width: 70px; background-color: #ec1717; color: #fff; border-radius: 13px; }
.btn-red-bg-clr-wht:hover { background-color: #fff; color: #ec1717; border: solid 1px #ec1717 !important; }
.btn-grn-bg-clr-wht { cursor: pointer; padding: 7px 14px 6px; text-transform: uppercase; border: solid 1px transparent; outline: 0px !important; min-width: 70px; background-color: #559928; color: #fff; border-radius: 13px; }
.btn-grn-bg-clr-wht:hover { background-color: #fff; color: #559928; border: solid 1px #559928 !important; }
.compliance-categories { }
.compliance-categories .single-category { }
.compliance-categories .single-category a {background-color: transparent; border: 0px; padding: 0px; text-transform: uppercase; color: #848484; min-width: 224px; min-width: 32%; margin-bottom: 0px; vertical-align: top; line-height: 21px;font-weight: 500;}
.compliance-categories .single-category a:before { display: none; }
.compliance-categories .single-category a span {color: #3b7ec4;}



.site-blue-btn {display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;letter-spacing: 1px;vertical-align: middle;user-select: none;position: relative;border: 1px solid transparent;background-color:#3b82cd;color:#fff;padding: 0.55rem 1rem;font-size: 0.875rem;line-height: 1.25;border-radius: 0;transition: all 0.5s ease 0s;}
.site-blue-btn:hover { border: solid 1px #3b82cd !important;color:#3b82cd;background-color:transparent; }

/*--------------------------------- Patient Search Module-------------------------------*/

/*Radio Button Styles*/
input[type="radio"].check-mark-22dec-tzm { position: relative; -webkit-appearance: none; width: 18px !important; height: 18px !important; margin-right: 4px; text-align: center !important; max-width: 18px; max-height: 18px; cursor: pointer; padding: 0px !important; margin-left: 4px; border: 0px !important; }
input[type="radio"].check-mark-22dec-tzm:before { content: ''; border: solid 1px #3b7ec4; color: #3b7ec4; height: 17px; width: 17px; padding: 0px; line-height: 17px; position: absolute; display: inline-block; padding: 0px; top: 0px; left: 0px; }
input[type="radio"].check-mark-22dec-tzm:checked:before { content: '\2714'; }
input[type="radio"].check-mark-22dec-tzm+span { vertical-align: top; line-height: 18px; margin-right: 13px; }
.table_content_cont_add_prac.label-w-400-23dec-19 { padding-bottom: 0px; }

/*
label input[type="radio"] {-webkit-appearance: none;width: 14px;height: 14px;background-color: #fff;box-shadow: none !important;border-radius: 50%;border: solid 1px #3e7bc4;cursor: pointer; margin-top: 4px; }
label input[type="radio"]:checked { background-color: #242424; border: solid 1px #242424; }
label input[type="radio"]:disabled { opacity: 0.47; }
label input[type="radio"] + span { vertical-align: top; }


input[type="checkbox"] { position: relative; -webkit-appearance: none; width: 18px !important; height: 18px !important; margin-right: 4px; text-align: center !important; max-width: 18px; max-height: 18px; cursor: pointer; padding: 0px !important; margin-left: 4px; border: 0px !important; }
input[type="checkbox"]:before { content: ''; border: solid 1px #3b7ec4; color: #3b7ec4; height: 17px; width: 17px; padding: 0px; line-height: 17px; position: absolute; display: inline-block; padding: 0px; top: 0px; left: 0px; }
input[type="checkbox"]:checked:before { content: '\2714'; }
input[type="checkbox"]:disabled { opacity: 0.47; }
*/

/*Blue Button hover arrow styles*/
.blue_butn_profile button:hover i { color: #3b7ec4; }


/*---------------------------------------DRUG DETAIL FORM STYLING ENDs-----------------------------*/

/*-----------------------------------ENROLL/CREATE PAGE STYLES ENDs-----------------------------------*/

/*-----------------------------------REPORT PAGE STYLES STARTs-----------------------------------*/
.blue-hd { font-size: 18px; font-weight: 700; color: #3b7ec4; line-height: 1.3em; }

#invoice_detail_table > .row { margin-bottom: 24px; }
.compliance-notification-row { position: relative; }
.compliance-notification-row .nt-close {position: absolute;top: 4px;right: 4px;border: solid 2px rgba(236, 23, 23, 0.89);border-radius: 50%;font-size: 16px;font-weight: 700;color:rgba(236, 23, 23, 0.89);width: 27px;text-align: center;height: 27px;transform: scale(0.8);cursor: pointer;background-color:#fff;opacity: 0.99;}
.compliance-notification-row .nt-close:hover {opacity: 1;border: solid 2px #ec1717;color:#ec1717;}

.compliance-notification-table {border: solid 1px #9ccd00;}
.compliance-notification-table tr {background-color: inherit;}
.compliance-notification-table thead {background-color: #9ccd00;}
.compliance-notification-table thead th {color: #fff;background-color: inherit;font-size: 13px;border-right: solid 1px #fff;padding: 4px 0.3vw;}
.compliance-notification-table tbody {  }
.compliance-notification-table tbody td {font-weight: 600;border-right: solid 1px #9ccd00; font-size: 13px;padding: 4px 0.3vw; }

.compliance-notification-table thead th:last-child { padding-right: 24px; }



.compliance-notification-row { position: relative; margin-bottom: 24px;}
.compliance-notification-row .nt-close {position: absolute;top: 4px;right: 4px;border: solid 2px #549928;border-radius: 50%;font-size: 16px;font-weight: 700;color: #549928;width: 27px;text-align: center;height: 27px;transform: scale(0.8);cursor: pointer;background-color: #fff;opacity: 0.7;}
.compliance-notification-row .nt-close:hover {opacity: 1;}

.compliance-notification-table {border: solid 1px #559928;}
.compliance-notification-table tr {background-color: inherit;}
.compliance-notification-table thead { background-color: #559928; }
.compliance-notification-table thead th {color: #fff;background-color: inherit;font-size: 14px;border-right: solid 1px #fff;}
.compliance-notification-table tbody {  }
.compliance-notification-table tbody td {font-weight: 600;border-right: solid 1px #559928;}



table.compliance-user-table-end-rows-invoice tr td {font-weight: 700;color: #444 !important;}

table.compliance-user-table-end-rows-invoice tbody td {padding: 3px 10px;font-size: 13px;color: #666666;font-family: 'Roboto', sans-serif;font-family: "Roboto Condensed", sans-serif;padding-left: 0.3vw; padding-right: 4px;}


table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) {  border-left: solid 1px #cdcdcd;}
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(1) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(2) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(3) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(4) { border-left: solid 1px rgba(36, 36, 36, 0.13); }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(5) { border-left: solid 1px rgba(36, 36, 36, 0.13); }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(6) { border-left: solid 1px rgba(36, 36, 36, 0.13); }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(7) { border-left: solid 1px rgba(36, 36, 36, 0.13); }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(1) td:nth-child(8) { border-left: solid 1px rgba(36, 36, 36, 0.13); }

table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) {  border-bottom: solid 1px rgba(36, 36, 36, 0.13);border-left: solid 1px rgba(36, 36, 36, 0.13);}
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(1) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(2) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(3) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(4) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(5) {  border-left: solid 1px rgba(36, 36, 36, 0.13);border-right: solid 1px rgba(36, 36, 36, 0.13);}
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(6) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(7) {  }
table.compliance-user-table-end-rows-invoice tbody tr:nth-child(2) td:nth-child(8) {  }

.append-two-rows-bottom-comp-table { position: relative; }
.append-two-rows-bottom-comp-table .dataTables_wrapper { position: relative; padding-bottom: 100px; }
.append-two-rows-bottom-comp-table .dataTables_wrapper .dataTables_info { position: absolute; bottom: 0px; left: 0px; }
.append-two-rows-bottom-comp-table .dataTables_wrapper .dataTables_paginate { position: absolute; bottom: 0px; right: 0px; }


.append-two-rows-bottom-comp-table .attach-table { position: absolute; bottom: 40px; min-width: 100%; left: 15px; }


#invoices_data #top_products_sale {  }
#invoices_data #top_products_sale .rig_lab {padding: 2px;}
#invoices_data #top_products_sale label {margin-bottom: 0px;vertical-align: top;}
#invoices_data #top_products_sale input[type="radio"] {/*margin-top: 5px;*/}

#invoice_detail_table > .row > * { padding-left: 0px !important; }

@media only screen and (max-width: 1200px) {
	
	#invoice_detail_table > .row { overflow-x: auto; padding-bottom: 7px; }
	
	#invoice_detail_table > .row.notification-row-parent { overflow-x: auto; padding-bottom: 7px;}
	
	#invoices_data .col-right-toggle { flex: 0 0 66.66667%;  max-width: 66.66667%; padding-left: 40px;}
}

@media only screen and (max-width: 1000px) {

	#invoice_detail_table > .row { overflow-x: hidden; padding-bottom: 0px; }
	#invoices_data > * { min-width: 100%; }
	
	#invoice_detail_table > .row > * { padding-left: 14px !important; padding-right: 14px !important; }

	
	.row.attach-table > div { padding-left: 15px !important; }
}


@media only screen and (max-width: 800px) {

	#invoice_detail_table > .row { overflow-x: scroll; padding-bottom: 7px; }
}


@media only screen and (max-width: 575px) {
	
	#invoices_data .invoice_details-col { padding-right: 14px !important; }
	
}


/*---------------------------------------SEARCH PAGe TABLEs STYLING STARTs-----------------------------*/


@media only screen and (max-width: 1100px) {
 #patient_comp_table th { padding: 3px; }
#patient_comp_table td { padding: 3px; }
#practice_comp_table th { padding: 3px; }
#practice_comp_table td { padding: 3px; }
}
@media only screen and (max-width: 1024px) {
 #patient_comp_table { }
#patient_comp_table thead { }
#patient_comp_table thead tr { }
#patient_comp_table thead tr th { font-size: 1.4vw; background-size: 13px auto; background-position: 103% center; }

#patient_comp_table tbody tr td { font-size: 1vw; padding-right: 0.3vw; padding-left: 0.3vw; }
#patient_comp_table tbody tr td.col-gender { width: 7vw; }
#patient_comp_table tbody tr td.col-dob { width: 7vw; }
#patient_comp_table tbody tr td.col-mobile { width: 10vw; }
#patient_comp_table tbody tr td.col-zip { width: 4.6vw; }
#practice_comp_table thead tr th { font-size: 1.4vw; background-size: 13px auto; background-position: 103% center; }
#practice_comp_table tbody tr td { font-size: 1vw; padding-right: 0.3vw; padding-left: 0.3vw; }
}

/*---------------------------------------PATIENT SEARCH Page STYLING ENDs-----------------------------*/

section.patient_module-search { display: flex; }
section.patient_module-search > .container { display: flex; flex-wrap: wrap; }
.images-hidden-at-load { display: none !important; }
section.patient_module-search .images-hidden-at-load { display: flex !important; }

/*---------------------------------------PATIENT SEARCH Page STYLING ENDs-----------------------------*/

/*---------------------------------------Forced STYLING SECTION STARTs-----------------------------*/

.modal-header .close { border: solid 1px transparent !important; border-radius: 0px 4px 0px 0px; box-sizing: border-box; max-height: 41px; }
.modal-header .close:hover { border: solid 1px #3b82cd !important; color: #3b82cd; background-color: transparent; }

.top-search-field-drug-maintenance { position: relative; }
.top-search-field-drug-maintenance:after { content: "\f002";position: absolute;top: 8px;right: 24px;width: 16px;height: 16px;font-size: 14px;
line-height: 16px;text-align: center;font-family: "Font Awesome 5 Free", "FontAwesome";font-weight: 900; }

.select2-container .select2-selection--single { outline: 0px !important;}

.select2-container--default .select2-selection--single .select2-selection__clear {font-size: 0px !important;}
.select2-container .select2-selection--single .select2-selection__clear {font-size: 0px !important;}

.practice_form .wizard  .form-control { font-size: 1rem !important; }

button, input, optgroup, select, textarea { outline: 0px !important; }

table.dataTable thead .sorting { background-position: left 7px !important;padding-left: 14px !important;background-size: auto 14px;line-height: 1.2em;padding-top: 7px;padding-bottom: 7px; }

* { font-family:"Roboto Condensed", sans-serif; }

/*.fa { font-family: "FontAwesome" }*/

.fa, .far, .fas { font-family: "Font Awesome 5 Free", "FontAwesome";}



#rx_refill_due_and_remaining label { cursor: pointer; }

ul.client-data-tabs-14jan li.current:after { display:none !important; }
ul.client-data-tabs-14jan { margin-top: -3px; }


/*---------------------------------------Forced STYLING SECTION Ends-----------------------------*/
table.dataTable thead th, table.dataTable thead td{
	border-bottom:none !important;
}
.searchError {
        border-color: red !important;
}
.match {
	background-color: #ff0 !important;
}




.select2-container {box-sizing: border-box;display: inline-block;margin: 0;position: relative;vertical-align: middle;}
.select2-container .select2-selection--single {box-sizing: border-box;cursor: pointer;display: block;height: 28px;user-select: none;-webkit-user-select: none;}
.select2-container .select2-selection--single .select2-selection__rendered {display: block;padding-left: 8px;padding-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.select2-container .select2-selection--single .select2-selection__clear {position: relative;}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {padding-right: 8px;padding-left: 20px;}
.select2-container .select2-selection--multiple {box-sizing: border-box;cursor: pointer;display: block;min-height: 32px;user-select: none;-webkit-user-select: none;}
.select2-container .select2-selection--multiple .select2-selection__rendered {display: inline-block;overflow: hidden;padding-left: 8px;text-overflow: ellipsis;white-space: nowrap;}
.select2-container .select2-search--inline {float: left;}
.select2-container .select2-search--inline .select2-search__field {box-sizing: border-box;border: none;font-size: 100%;margin-top: 5px;padding: 0;}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {-webkit-appearance: none;}
.select2-dropdown {background-color: white;border: 1px solid #aaa;border-radius: 4px;box-sizing: border-box;display: block;position: absolute;left: -100000px;width: 100%;z-index: 1051;}
.select2-results {display: block;}
.select2-results__options {list-style: none;margin: 0;padding: 0;}
.select2-results__option {padding: 6px;user-select: none;-webkit-user-select: none;}
.select2-results__option[aria-selected] {cursor: pointer;}
.select2-container--open .select2-dropdown {left: 0;}
.select2-container--open .select2-dropdown--above {border-bottom: none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.select2-container--open .select2-dropdown--below {border-top: none;border-top-left-radius: 0;border-top-right-radius: 0;}
.select2-search--dropdown {display: block;padding: 4px;}
.select2-search--dropdown .select2-search__field {padding: 4px;width: 100%;box-sizing: border-box;}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {-webkit-appearance: none;}
.select2-search--dropdown.select2-search--hide {display: none;}
.select2-close-mask {border: 0;margin: 0;padding: 0;display: block;position: fixed;left: 0;top: 0;min-height: 100%;min-width: 100%;height: auto;width: auto;opacity: 0;z-index: 99;background-color: #fff;filter: alpha(opacity=0);}
.select2-hidden-accessible {border: 0 !important;clip: rect(0 0 0 0) !important;-webkit-clip-path: inset(50%) !important;clip-path: inset(50%) !important;height: 1px !important;overflow: hidden !important;padding: 0 !important;position: absolute !important;width: 1px !important;white-space: nowrap !important;}
.select2-container--default .select2-selection--single {background-color: #fff;border: 1px solid #aaa !important;border-radius: 0px;height: 25px !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #444;line-height: 24px;}
.select2-container--default .select2-selection--single .select2-selection__clear {cursor: pointer;float: right;font-weight: bold;}
.select2-container--default .select2-selection--single .select2-selection__placeholder {color: #999;line-height: inherit !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 24px;position: absolute;top: 0px;right: 1px;width: 20px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #888 transparent transparent transparent;border-style: solid;border-width: 5px 4px 0 4px;height: 0;left: 50%;margin-left: -4px;margin-top: -2px;position: absolute;top: 50%;width: 0;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {float: left;}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {left: 1px;right: auto;}
.select2-container--default.select2-container--disabled .select2-selection--single {background-color: #eee;cursor: default;}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {display: none;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #888 transparent;border-width: 0 4px 5px 4px;}
.select2-container--default .select2-selection--multiple {background-color: white;border: 1px solid #aaa;border-radius: 4px;cursor: text;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {box-sizing: border-box;list-style: none;margin: 0;padding: 0 5px;width: 100%;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {list-style: none;}
.select2-container--default .select2-selection--multiple .select2-selection__clear {cursor: pointer;float: right;font-weight: bold;margin-top: 5px;margin-right: 10px;padding: 1px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice {background-color: #e4e4e4;border: 1px solid #aaa;border-radius: 4px;cursor: default;float: left;margin-right: 5px;margin-top: 5px;padding: 0 5px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {color: #999;cursor: pointer;display: inline-block;font-weight: bold;margin-right: 2px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {color: #333;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {float: right;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {margin-left: 5px;margin-right: auto;}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {margin-left: 2px;margin-right: auto;}
.select2-container--default.select2-container--focus .select2-selection--multiple {border: solid black 1px;outline: 0;}
.select2-container--default.select2-container--disabled .select2-selection--multiple {background-color: #eee;cursor: default;}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {display: none;}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {border-top-left-radius: 0;border-top-right-radius: 0;}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.select2-container--default .select2-search--dropdown .select2-search__field {border: 1px solid #aaa;}
.select2-container--default .select2-search--inline .select2-search__field {background: transparent;border: none;outline: 0;box-shadow: none;-webkit-appearance: textfield;}
.select2-container--default .select2-results>.select2-results__options {max-height: 200px;overflow-y: auto;}
.select2-container--default .select2-results__option[role=group] {padding: 0;}
.select2-container--default .select2-results__option[aria-disabled=true] {color: #999;}
.select2-container--default .select2-results__option[aria-selected=true] {background-color: #ddd;}
.select2-container--default .select2-results__option .select2-results__option {padding-left: 1em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {padding-left: 0;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {margin-left: -1em;padding-left: 2em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left: -2em;padding-left: 3em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left: -3em;padding-left: 4em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left: -4em;padding-left: 5em;}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {margin-left: -5em;padding-left: 6em;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: #5897fb;color: white;}
.select2-container--default .select2-results__group {cursor: default;display: block;padding: 6px;}
.select2-container--classic .select2-selection--single {background-color: #f7f7f7;border: 1px solid #aaa;border-radius: 4px;outline: 0;background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);}
.select2-container--classic .select2-selection--single:focus {border: 1px solid #5897fb;}
.select2-container--classic .select2-selection--single .select2-selection__rendered {color: #444;line-height: 28px;}
.select2-container--classic .select2-selection--single .select2-selection__clear {cursor: pointer;float: right;font-weight: bold;margin-right: 10px;}
.select2-container--classic .select2-selection--single .select2-selection__placeholder {color: #999;}
.select2-container--classic .select2-selection--single .select2-selection__arrow {background-color: #ddd;border: none;border-left: 1px solid #aaa;border-top-right-radius: 4px;border-bottom-right-radius: 4px;height: 26px;position: absolute;top: 1px;right: 1px;width: 20px;background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {border-color: #888 transparent transparent transparent;border-style: solid;border-width: 5px 4px 0 4px;height: 0;left: 50%;margin-left: -4px;margin-top: -2px;position: absolute;top: 50%;width: 0;}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {float: left;}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {border: none;border-right: 1px solid #aaa;border-radius: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px;left: 1px;right: auto;}
.select2-container--classic.select2-container--open .select2-selection--single {border: 1px solid #5897fb;}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {background: transparent;border: none;}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #888 transparent;border-width: 0 4px 5px 4px;}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {border-top: none;border-top-left-radius: 0;border-top-right-radius: 0;background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {border-bottom: none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);}
.select2-container--classic .select2-selection--multiple {background-color: white;border: 1px solid #aaa;border-radius: 4px;cursor: text;outline: 0;}
.select2-container--classic .select2-selection--multiple:focus {border: 1px solid #5897fb;}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {list-style: none;margin: 0;padding: 0 5px;}
.select2-container--classic .select2-selection--multiple .select2-selection__clear {display: none;}
.select2-container--classic .select2-selection--multiple .select2-selection__choice {background-color: #e4e4e4;border: 1px solid #aaa;border-radius: 4px;cursor: default;float: left;margin-right: 5px;margin-top: 5px;padding: 0 5px;}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {color: #888;cursor: pointer;display: inline-block;font-weight: bold;margin-right: 2px;}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {color: #555;}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {float: right;margin-left: 5px;margin-right: auto;}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {margin-left: 2px;margin-right: auto;}
.select2-container--classic.select2-container--open .select2-selection--multiple {border: 1px solid #5897fb;}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {border-top: none;border-top-left-radius: 0;border-top-right-radius: 0;}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {border-bottom: none;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.select2-container--classic .select2-search--dropdown .select2-search__field {border: 1px solid #aaa;outline: 0;}
.select2-container--classic .select2-search--inline .select2-search__field {outline: 0;box-shadow: none;}
.select2-container--classic .select2-dropdown {background-color: #fff;border: 1px solid transparent;}
.select2-container--classic .select2-dropdown--above {border-bottom: none;}
.select2-container--classic .select2-dropdown--below {border-top: none;}
.select2-container--classic .select2-results>.select2-results__options {max-height: 200px;overflow-y: auto;}
.select2-container--classic .select2-results__option[role=group] {padding: 0;}
.select2-container--classic .select2-results__option[aria-disabled=true] {color: grey;}
.select2-container--classic .select2-results__option--highlighted[aria-selected] {background-color: #3875d7;color: #fff;}
.select2-container--classic .select2-results__group {cursor: default;display: block;padding: 6px;}
.select2-container--classic.select2-container--open .select2-dropdown {  border-color: #5897fb;}
